/* =================================
  Base Element Styles
==================================== */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* === General styles === */

body {
    font-family: "Lato", sans-serif;
    font-size: 0.875rem;
    line-height: 1.32;
    color: #000000;
    background: #f9f9f9;
}

a {
    text-decoration: none;
    color: #7679C0;
}

h1, h2 {
    font-weight: 700;
}

h1 {
    font-size: 1.125rem;
}

h2 {
    font-size: 1.125rem;
    text-transform: uppercase;
}

P {
    font-size: 0.875rem;
}

li {
   font-size: 0.8125rem; 
}

/* =================================
   Buttons
==================================== */

.button-primary,
.button-disabled {
    padding: 16px 12px;
    border-radius: 5px;
    background: #7477BF;
    color: white;
    border: none; 
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer; 
}

.button-disabled {
    background: #999999;
}

/* =================================
   Images & Icons
==================================== */

.switch-ios span span {
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
}

.social-text p {
    font-size: 1rem;
    font-weight: 700;
    color: #6366B7; 
}

.social-text .number {
    font-weight: 400;
    font-size: 2.25rem; 
    color: #777777; 
}

.icon {
    fill: white;
    width: 32px;
}

/* === Images === */

.profile-image,
.member,
.social-image {
  border-radius: 100%;
  width: 60px;
  height: 60px;
}

.social-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #7477BF;
}

/* =================================
   Layout: Grid container
==================================== */

.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "navigation"
        "main";
}

/* === header ===*/
.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    gap:16px;
    background: #7477bf;
    color: white;
}

.header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

/* === header elements === */
.logo {
    font-size: 1.3125rem;
}

.bell-icon {
    flex: 1;
    width: 22px;
    min-width: 20px;
    height: auto; 
    fill: white;
}

.member {
    flex: 1;
    width: 38px;
    min-width: 36px;
    height: auto;
}


.divider {
    width: 2px;
    max-height: 38px;
    min-height: 32px;
    background: #8C8EBF;
}

#notifications {
    display: none;
}

/* === navigation ===*/
.navigation {
    grid-area: navigation;
    display: flex;
    justify-content: center; 
    gap: 32px;
    background: #4d4c72;
}

.header,
.navigation {
    align-items: center;
    padding: 10px 12px;
}

/* navigation elements */
.navigation a img {
    flex: 1;
    width: 32px;
    height: auto;
}

/* === main ===*/
.main {
    grid-area: main;
    display: grid;
    background: white;
}

/* =================================
   Widgets and Sections
==================================== */

.traffic,
.traffic-header, 
.daily, 
.mobile, 
.social, 
.members, 
.activity, 
.message, 
.settings  {
    display: flex;
    flex-direction:column;
    gap:16px;
    padding: 16px;
    max-width: 100vw;
    border-top: 1px #D4D4D4 solid;
}


/* === dashboard === */
.dashboard {
    display: flex;
    justify-content: start;
    gap: 16px;
    padding-left: 16px;
    min-height: 50px;
}

/* dashboard elements */
.tab {
    flex: 1;
    width: 100%;
    height: auto;
    border-bottom: 1px #CFCFCF solid;
    border-left: 1px #CFCFCF solid;
    background-color: #F7F7F7;
}

/* === alert === */
.alert {
    padding: 16px 8px;
    margin: 16px;
    border-radius: 5px;
    background: #7477BF;
    color: #fff;
    font-size: 1rem;
}

/* === traffic === */
.traffic {
    border:none;
}

/* traffic elements */
.traffic-header {
    padding: 0px;
    border:none;
}

.traffic-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    list-style: none;
}

.traffic-nav li {
    padding: 6px 10px;
    border-radius: 16px;
    background: #81C98F;
    color: white;
}

/* === Social section === */

.social-container {
    display: flex;
    flex: 1;
    align-items: center;
    gap: 16px;
    padding: 12px 16px;
    border-radius: 5px;
    border: 1px #CFCFCF solid;
    background: #F5F5F5;
}

/* === Members and Recent Activity === */
.members,
.activity {
    gap: 0px;
}

.members-container:last-child {
    border: none;
    padding: 16px 0px 0px;
}

.members-container {
    text-align: center;
    padding: 16px 0px;
    border-bottom: 1px #D7D7D7 solid;
}

/* === Message form === */

.widget-container, 
.switches, 
.social-containers {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#userField, 
#messageField, 
#timezone {
    background: #F5F5F5;
    border: 1px #CFCFCF solid;
    border-radius: 5px;
    padding: 16px 12px;
}

/* textarea */
textarea {
    resize: both;
    overflow: auto;
    min-height: 134px;
}

textarea::placeholder,
#timezone:invalid {
    color: #CCCCCC;
    font-size: 0.875rem;
}

#timezone option {
    color: #000;
}

/* === Settings === */
.settings label, 
.settings-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:16px;
}

.switch-ios > span {
    max-width: 96px;
}

label.switch-light.switch-ios::after {
    display: none;
}

.form-field {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  width: 100%;
  padding: 10px;
  padding-right: 2.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.select-wrap {
  position: relative;
  display: inline-block;
  width: 100%;
}

.select-icon {
  position: absolute;
  right: 12px;
  top: 50%; 
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  pointer-events: none;
}

.settings-button > * {
  flex: 1;
}

/* =================================
   Media Queries min-width: 768px
==================================== */
@media (min-width: 768px) {

    /* === Grid container === */

    .grid-container {
    grid-template-columns: 55px 1fr;
    grid-template-areas:
        "header header"
        "navigation main";
    }

    /* === navigation ===*/

    .navigation {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 20px 0;
        gap: 40px;
    }

    /* === main ===*/

    .main {
        grid-template-columns: repeat(2, 1fr);
    }

    /* === Widgets and Sections === */

    .dashboard, .traffic, .social, .members, .activity, .message, .settings, .alert  {
        grid-column: 1 / span 2;
    }

    .daily {
        grid-column: 1 / span 1;
    }

    .mobile {
        grid-column: 2 / span 1;
    }

    .widget-container-full {
        width: 90vw;
    }

    .widget-container-half {
        width: 45vw;
    }

    .social-containers, .members-container {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        gap: 16px;
    }

    .members-container.recent-activity::after {
        content: ">";
        font-size: 1.25rem;
        color: #7477bf;
        margin-left: 8px;
    }

    .members-text {
        text-align: start;
        flex: 1;
    }

    label.switch-light.switch-ios strong {
     min-width: 172px;
    }

    label.switch-light.switch-ios {
        justify-content: flex-start;
    }

    /* === General styles === */

    body, P, li {
        font-size: 1rem;
    }
}

/* =================================
   Media Queries min-width: 1024px
==================================== */
@media (min-width: 1024px) {
    .members, .message {
        grid-column: 1 / span 1;
    }

    .activity, .settings {
         grid-column: 2 / span 1;
    }

    .members, .message {
        border-right: 1px #D4D4D4 solid; ;
    }

    .switches {
        justify-content: space-between;
        height: 100%;
    }
}